body {
    text-align: center;
    padding: 1em;
    background: #000 url("images/friendsWallpaper.png");
    background-size: cover;
}

/** Layout **/

main {
    width: 90%;
    color: white;
    background: rgba(0,0,0,.95) 0% 0% border-box; 
    padding: 1em;
}

img {
    width: 80%;
}

.counter-div {
    width: 60%;
    margin: 0 auto;
}

.headers {
    display: inline;
    padding-right: 1em;
}

.counters {
    display: inline;
}

.outer-div {
    border-bottom: white dashed 1px;
}

/** Typography **/

#blurb {
    color: gray;
}

#blurb,
.headers {
    font-family: 'Permanent Marker', cursive;
}

.countdown-title {
    font-size: 1rem;
}

.counters {
    font-size: 2rem;
    padding: 0;
}

.header-even {
    color: gray;
}
