body {
    text-align: center;
    padding: 1em;
    background: #000 url("https://user-images.githubusercontent.com/82347372/120073737-a3f77480-c067-11eb-8f6e-cd46533e9936.png");
    background-size: cover;
}

/** Layout **/

main {
    width: 100%;
    height: 80vh;
    color: white;
    background: rgba(0,0,0,.90) 0% 0% border-box; 
    padding: 1em;
    box-sizing: border-box;
}

img {
    width: 80%;
}

.counter-div {
    width: 70%;
    margin: 0 auto;
}

.headers {
    display: inline;
    padding-right: 1em;
}

.counters {
    display: inline;
}

.outer-div {
    border-bottom: white dashed 1px;
}

.phoebe-gif {
    margin: 2em auto;
    right: 4em;
}

/** Typography **/

#blurb {
    color: gray;
    font-size: 1rem;
    padding: 0 .5rem;
}

#blurb,
.headers {
    font-family: 'Permanent Marker', cursive;
}

.countdown-title {
    font-size: 1.1rem;
}

.headers {
    font-size: 2rem;
}

.counters {
    font-size: 3rem;
    padding: 0;
}

.header-even {
    color: gray;
}
